* {
    margin: 0;
    padding: 0;

}

html,
body {
    height: 100%;
}

body {
    background-color: #0d0c20;
}

video.main-video {
    max-width: 100%;
    width: 900px;
    height: 500px;
  
}

main.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-direction: column;
    width: 90%;
    margin: auto;
}
div.box-video{
    position: relative;
}

input[type="range"]{
    max-width: 100%;
    border: none;
    outline: none;
    -webkit-appearance: none;
    z-index: 9999;
    cursor: pointer;
    transition: .5 ease-in-out;
}
input[type="range"].timeline {
   
    width: 100%;
    height: 4px;
    background-color: #4735e5;
    position: absolute;
    top: 0;
    transition: .5 ease-in-out;

}

input[type="range"].timeline::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #4735e5;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    cursor: pointer;
    transition: .5 ease-in-out;
    border: 4px solid #fff;

}

input[type="range"].volume {

    width: 100px;
    height: 4px;
    background-color: #355ee5;
    border-radius: 4px;
    transform: rotate(-90deg);
    position: absolute;
    bottom: 95px;
    right:-25px; 
    transition: .5 ease-in-out;
    opacity: 0;
    
}

input[type="range"].volume::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #355ee5;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    cursor: pointer;
    transition: .5 ease-in-out;

}
p.time{
    color:#cacaca;
    font-size: 14px;
    position: absolute;
    bottom: 25px;
    left:12px;
}
span.time-end{
    color:#696969;
}
button.btn-play-pause{
    height: 60px;
    width: 60px;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left:0;
    right: 0;
    margin: auto;
    top:0;
    bottom: 0;
    border-radius: 50%;
    transition: 1s ease-in-out;
    cursor: pointer;
    border:none;
    background-color: rgba(255, 255, 255, 0.24);
    backdrop-filter: blur(10px);
    opacity: 0;
}
video:hover + button.btn-play-pause{
    opacity: 1;
}
button.btn-play-pause:hover{
    opacity: 1;
    background-color: rgba(71, 53, 229, 0.397);
    color:#fff;
   
  
}

.btn-volume{
    position: absolute;
    border: none;
    right:20px;
    bottom: 20px;
    font-size: 18px;
    color:#fff;
    border: none;
    background: transparent;
    cursor: pointer;
}
.btn-volume:hover + input[type="range"].volume{
   opacity: 1;
}
input[type="range"].volume:hover{
    opacity: 1;
 }
.box-option{
    background-color: rgb(22, 22, 22);
    height: 10px;
    width: 890px;
    position: relative;
    margin-top: -4px;
}